.container {
  /* padding: 10px; */
  background-color: rgb(228, 225, 225);
  margin: 50px 0 0 0;
  border-radius: 2em;
}
header {
  padding-bottom: 10px;
}
h1 {
  text-align: center;
}
h6 {
  text-align: center;
}
.form-group {
  margin: 14px 0 14px 0;
}
.result .bmrcalories {
  font-size: 30px;
  color: red;
  font-weight: bold;
  /* vertical-align: middle; */
  margin: 10px;
}
.result .tdeecalories {
  font-size: 30px;
  color: red;
  font-weight: bold;
  vertical-align: middle;
  margin: 10px;
}
.result .assumption {
  text-transform: lowercase;
}
.result .nameInput {
  font-weight: bold;
  color: darkcyan;
  text-transform: capitalize;
}
.result .name {
  margin: 10px;
  font-size: 20px;
}
.result .maincarbs {
  color: rgb(241, 113, 22);
}
.result .mainprotein {
  color: rgb(73, 22, 241);
}
.result .mainfats {
  color: rgb(61, 99, 51);
}
.result .carbsloss {
  color: rgb(241, 113, 22);
}
.result .proteinloss {
  color: rgb(73, 22, 241);
}
.result .fatsloss {
  color: rgb(61, 99, 51);
}
.form-control {
}
